body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font: 22px;
    text-decoration: none;
}
nav :hover{
    color: #C19C19;
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, fieldset label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}


.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 250px;
}

.checkbox{
    margin: 20px 0;
}


.Enviar{
    width: 40%;
    padding: 10px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;

}

.Enviar:hover{
    background: rgb(82, 54, 20);
    transform: scale(1.2);
}

table{
    margin: 20px 0;
    
}
thead{
    background-color: #555555;
}
td, thead{
    border: 2px solid #555555;
    padding: 15px 8px;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    
}

.Copyright{
    color: #ffffff;
    font-size: 10px;
    margin: 20px;
}
@media  screen and (max-width: 480px) {

    
}