@charset "UTF-8";

.container__rodape{
    width: 100%;

    height: 27%;

    background-color: var(--bg-chamada-mobile);
    border-top: 4px solid var(--borda);
    
    display: grid;
    
    align-items: center;
    grid-template-columns: 1fr 1fr;
    
    margin-top: 5rem;
}

.rede_social-github{
    grid-column: 1 / span 1;
    grid-row: 2;
    padding-left: 35%;

}
.rede_social-linkedin{
    grid-column: 2 / span 1;
    grid-row: 2;
    padding-left: 15%;
}
.rede_social-icon-github{
    width: 5rem;
}
.rede_social-icon-linkedin{
    width: 4rem;
}

.rede_social{
    color: var(--fonte-cinza);
    
    font-size: var(--tamanho-fonte-container);
    font-weight: var(--peso-fonte);
    grid-column: span 2;
    display: block;
    padding-left: 30%;
}