@charset "UTF-8";
@import url("/assets/css/reset.css");
@import url("/assets/css/variaveis.css");

/**@import url("reset.css");
@import url("variaveis.css");*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--tamanho_fonte);
    font-weight: var(--peso-fonte);
    
}

.titulo{
    font-size: var(--tamanho-titulo);
}

.titulo__destaque{
    font-size: var(--tamanho-titulo-destaque);
}

.texto{
    line-height: 26px;
}

.alinhamento-esqueda{
    text-align: left;
}

.alinhamento-central{
    text-align: center;
}


.foto__pessoal{
    padding-top: 20vh;
    background-image: url("../imagens/IMG_20211013_152658.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 80vh;
    width: 100%;


}