@charset "UTF-8";
@import url("/assets/css/componentes/menu.css");

/*@import url("menu.css");
@import url("variaveis.css");*/


.container{
    width: 100%;

    height: 10vh;
    max-width:100%;
    
    background-color: var(--bg-chamada-mobile);
    border-bottom: 4px solid var(--borda);
    
    display: flex;
    
    align-items: center;
    flex-direction: row;
    
    margin-bottom: 5rem;
    
    justify-content: space-between;
}

.menu_pontilhado{    
    width: 3rem;
    padding-left: .7rem;
}


.titulo__cabecalho{
    font-size: 1.3rem;
    display: block;
    color: var(--branco);
    
    padding-right: 5%;

    box-sizing: border-box;
}
