@charset "UTF-8";

.container__rodape{
    width: 100%;

    max-height: 25rem;

    background-color: var(--bg-chamada-mobile);
    border-top: 4px solid var(--borda);
    
    display: block;
    
    align-items: center;
    justify-items: center;       
    
    margin-top: 5rem;
}

.rede_social-icon-github{
    width: 5rem;
}
.rede_social-icon-linkedin{
    width: 4rem;
}

.rede__social-media{
    display: inline-block;
}

.rede_social{
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    display: flex;
}

.container__endereco{
    display: block;

    flex-direction: column;

    padding-top: 2rem;
    text-align: center;
    line-height: 1.8rem;
}
.endereco{
    display: block;
}

.endereco__contato-telefone{
   display: block;
   color: var(--cor-fonte-corpo);
}

.endereco__contato-email{
    display: block;
    color: var(--cor-fonte-corpo);
    padding-bottom: 2rem;
}