@charset "utf-8";

.sobre__espacamento{
    padding-top: 5rem;
    border-bottom: 2px solid var(--borda);
}

.secao_sobre{
   
    background-color: var(--backgorund-sobre);
    border-bottom: 2px solid var(--borda);


    text-align: center;
}

.sobre{
    padding-top: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-strong);
    padding-top: 2.3rem;
    font-weight: var(--peso-fonte-destaque);
    font-size: var(--tamanho-titulo-destque);
    display: block;
}

.sobre__texto{
    line-height: 1.8rem;
    
    color: var(--fonte-cinza);
    
    font-size: var(--tamanho-fonte-container);
    font-weight: var(--peso-fonte);
    
    padding-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;

    box-sizing: border-box;

    text-align: justify; 
}

.sobre__titulo{
    padding-top: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-strong);
    padding-top: 2.3rem;
    font-weight: var(--peso-fonte);
    font-size: var(--tamanho-titulo);
    display: block;
    line-height: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}


.minha__foto{
    width: 5rem;
    border-radius: 50px ;
    
}
.sobre__perfil{
    padding-top: 2.5rem;
    text-transform: uppercase;
    color: var(--cor-strong);
    padding-top: 2.3rem;
    font-weight: var(--peso-fonte);
    font-size: var(--tamanho-titulo);
    display: block;
}

.lista{
    display: block;
    line-height: 1.4;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.item{
    display: block;
    
    color: var(--cor-strong);
    padding-top: 2rem;
    font-weight: var(--peso-fonte);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--borda);
}
.sub-item{
    font-size: 1rem;
    display: block;
    color: var(--fonte-cinza);
}

.container_evolucao {
    height: 5px;
    background-color: #CCC;
    position: relative;
    z-index: 1;

}
.container_evolucao .evolucao__barra-desktop{
   position: absolute;
   height: 100%;
   background-color: #03566d;
   animation: progress-animation 5s infinite;
}

@keyframes progress-animation{
    0% { width:80%; } 
    100% { width: 85%}
}
.container_evolucao .evolucao__barra-bd{
   position: absolute;
   height: 100%;
   background-color: #03566d;
   animation: progress-animation-bd 5s infinite;
}

@keyframes progress-animation-bd{
    0% { width:70%; } 
    100% { width: 75%}
}
.container_evolucao .evolucao__barra-web{
   position: absolute;
   height: 100%;
   background-color: #03566d;
   animation: progress-animation-web 5s infinite;
}

@keyframes progress-animation-web{
    0% { width:50%; } 
    100% { width: 55%}
}

.sobre-skills{
    text-transform: uppercase;
    font-weight: var(--peso-fonte);
    font-size: var(--tamanho-titulo);
    color: var(--cor-strong);

    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    text-align: center;
    
    display: block;
}

.skill{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;

    text-align: left;
}

@media screen and (min-width: 768px){
.secao_sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.sobre{
   grid-column: 1 / span 2;
}

.sobre__titulo{
    grid-column: 1 / span 2;
}


.minha__foto{
    grid-column: 1 / span 2;
}
.sobre__ajuste-responsivo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-items: center;
    justify-content: center;

}
.sobre__perfil{
    grid-column: 1 / span 2;
}

.lista{
    grid-column: 1 / span 1;
}
.item{
    grid-column: 1 / span 2;
}
.sobre__texto{
    grid-column: 1 / span 2;
}
}